<div class="radio-group">
    <div class="radio-chip green">
        <input type="radio" name="ok_{{ n }}_level" id="{{ prefix }}_ok{{ n }}_reg" value="regular">
        <label for="{{ prefix }}_ok{{ n }}_reg">Регулярно</label>
    </div>
    <div class="radio-chip yellow">
        <input type="radio" name="ok_{{ n }}_level" id="{{ prefix }}_ok{{ n }}_ep" value="episodic">
        <label for="{{ prefix }}_ok{{ n }}_ep">Эпизодически</label>
    </div>
    <div class="radio-chip">
        <input type="radio" name="ok_{{ n }}_level" id="{{ prefix }}_ok{{ n }}_no" value="none">
        <label for="{{ prefix }}_ok{{ n }}_no">Не проявлял</label>
    </div>
</div>
