<div class="radio-group">
    <div class="radio-chip green">
        <input type="radio" name="pk_{{ n }}_level" id="{{ prefix }}_pk{{ n }}_full" value="full">
        <label for="{{ prefix }}_pk{{ n }}_full">Полностью</label>
    </div>
    <div class="radio-chip yellow">
        <input type="radio" name="pk_{{ n }}_level" id="{{ prefix }}_pk{{ n }}_part" value="partial">
        <label for="{{ prefix }}_pk{{ n }}_part">Частично</label>
    </div>
    <div class="radio-chip">
        <input type="radio" name="pk_{{ n }}_level" id="{{ prefix }}_pk{{ n }}_none" value="none">
        <label for="{{ prefix }}_pk{{ n }}_none">Не сформ.</label>
    </div>
</div>
