<div class="radio-group">
    <div class="radio-chip green">
        <input type="radio" name="work_{{ n }}_quality" id="{{ prefix }}_w{{ n }}_high" value="high">
        <label for="{{ prefix }}_w{{ n }}_high">Высокое</label>
    </div>
    <div class="radio-chip yellow">
        <input type="radio" name="work_{{ n }}_quality" id="{{ prefix }}_w{{ n }}_med" value="medium">
        <label for="{{ prefix }}_w{{ n }}_med">Среднее</label>
    </div>
    <div class="radio-chip">
        <input type="radio" name="work_{{ n }}_quality" id="{{ prefix }}_w{{ n }}_low" value="low">
        <label for="{{ prefix }}_w{{ n }}_low">Низкое</label>
    </div>
</div>
